.text-content h4 {
    margin-bottom: 5px;
    font-weight: bold;
}

.text-content p {
    margin-bottom: 15px;
    line-height: 1.5;
}

ul {
    list-style-type: disc;
    margin-top: 5px;
    margin-bottom: 20px;
    padding-left: 20px;
}

ul li {
    margin-bottom: 5px;
}

ul li.sublist-item {
    list-style-type: circle;
    margin-left: 20px;
}